
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("../background.png");
}

body {
    margin-bottom: 60px;
}

.imageAboutPage {
    width: 100%;
}

.toast {
    color: #000 !important;
    background-color: #fff !important;
}

.toast-info {
    background-color: #007bff !important;
    color: #fff !important;
}